@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


body{
    background-color: rgb(0, 102, 255);
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background-color: maroon;
    padding: 25px;

}

header img {
    width: 300px;
    height: auto;
    border: 20px solid rgba(255, 208, 0, 0.753);
    border-radius: 50%;
}

header h1{
    font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
    margin: 10px 0 20px;
    color:white;
}